<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.akit.frontlinepro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name=""-->
    <!--<uses-permission android:name="android.permission.MANA"-->
    <uses-permission android:name="android.Manifest.permission.GRANT_RUNTIME_PERMISSIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAct" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".act.ShareReceiveAct">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- 	指定分享类型,我这边只能分享video/mp4,image/* -->
                <data android:mimeType="video/mp4"/>
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity android:name=".act.PreloadAct"/>
        <activity android:name=".act.NotificationAct"/>
        <activity android:name=".act.SystemJumpAct"/>
        <activity android:name=".act.EncryptAct"/>
        <activity android:name=".act.UrlInTextViewAct"/>
        <activity android:name=".act.HandlerAct"/>


    </application>

</manifest>